
<div class="DataEntryMainContainer">
  <div class="header bg-danger pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Process</h6>

            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> <i class="fas fa-home" routerLink="/search/Quicksearch"> </i> </a>
                </li>

                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> Process </a>
                </li>

                <li aria-current="page" class="breadcrumb-item active">
                  Territory Master
                </li>
              </ol>
            </nav>

          </div>

          <div class="col-lg-6 col-5 text-right">
            <!-- <a
              class="btn btn-sm btn-neutral"
              (click)="addDepartment(DepartmentFormPopup)"
            >
              Create New Department</a
            > -->

            <!-- <div class=" col-lg-6 col-12 text-right"> -->
              <a class=" btn btn-sm btn-neutral" (click)="AddInward(InwardFormPopup)">Add Territory</a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="container-fluid mt--6">
  <form [formGroup]="DataUploadForm">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">Data Entry</h3>
            <p class="text-sm mb-0"></p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" style="margin: 0 10px 0 0;">
                <div class="form-group">
                  <label class="form-control-label" for="TemplateID">
                    Select Template :
                  </label>
                  <select
                    name="TemplateID"
                    id="TemplateID"
                    class="form-control"
                    formControlName="TemplateID"
                    (change)="onChangeTemplate()"
                  >
                    <option value="0">Select Template Type</option>
                    <option
                      *ngFor="let TempL of _TemplateList"
                      [value]="TempL.id"
                    >
                      {{ TempL.TemplateName }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label" for="BranchID">
                    Select Branch :
                  </label>
                  <select
                    name="BranchID"
                    id="BranchID"
                    class="form-control"
                    formControlName="BranchID"
                  >
                    <option value="0">Select Branch</option>
                    <option
                      *ngFor="let _Branch of _BranchList"
                      [value]="_Branch.id"
                    >
                      {{ _Branch.BranchName }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label" for="DeptID">
                    Select Department :
                  </label>
                  <select
                    name="DeptID"
                    id="DeptID"
                    class="form-control"
                    formControlName="DeptID"
                  >
                    <option value="0">Select Department</option>
                    <option
                      *ngFor="let _Department of _DepartmentList"
                      [value]="_Department.id"
                    >
                      {{ _Department.DepartmentName }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-control-label" for="FileNo">
                    Search File :
                  </label>
                  <div class="input-group input-group-merge">
                    <input
                        type="text"
                        class="form-control"
                        name="FileNo"
                        id="FileNo"
                        placeholder="Search by File No"
                        formControlName="FileNo"
                        [readonly]="isReadonly"
                        aria-describedby="search-addon"
                      />
                    <div class="input-group-append" id="search-addon">
                        <button
                        class="btn btn-outline-primary"
                        (click)="GetNextFile()"
                        type="button"
                      >
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-12" formGroupName="_ColNameList">
                <div
                class="position-relative row form-group"
                *ngFor="let form_elem of _ColNameList; let i = index"
                >
                  <ng-container *ngIf="i > 1">
                    <ng-container [ngSwitch]="form_elem.FieldType">
                      <ng-container *ngSwitchCase="'1'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <input
                        [placeholder]="form_elem.DisplayName"
                        [name]="form_elem.DisplayName"
                        [formControlName]="form_elem.IndexField"
                        [id]="form_elem.IndexField"
                        type="text"
                        class="form-control"
                        minlength="{{ form_elem.MinLenght }}"
                        maxlength="{{ form_elem.MaxLenght }}"
                        />
                      </ng-container>
                      <ng-container *ngSwitchCase="'2'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <input
                        [placeholder]="form_elem.DisplayName"
                        [name]="form_elem.DisplayName"
                        [formControlName]="form_elem.IndexField"
                        [id]="form_elem.IndexField"
                        type="number"
                        class="form-control"
                        minlength="{{ form_elem.MinLenght }}"
                        maxlength="{{ form_elem.MaxLenght }}"
                        />
                      </ng-container>
                      <ng-container *ngSwitchCase="'3'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <input
                            [name]="form_elem.DisplayName"
                            [formControlName]="form_elem.IndexField"
                            [id]="form_elem.IndexField"
                            [placeholder]="form_elem.DisplayName"
                            class="form-control"
                            bsDatepicker
                            [bsValue]="bsValue"
                            [bsConfig]="{
                              isAnimated: true,
                              containerClass: 'theme-red'
                            }"
                          />
                      </ng-container>
                      <ng-container *ngSwitchCase="'4'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <select
                        [name]="form_elem.DisplayName"
                        [formControlName]="form_elem.IndexField"
                        [id]="form_elem.IndexField"
                        class="form-control"
                        >
                        <option [value]="0">Select A Value</option>
                        <option
                          [value]="opt"
                          *ngFor="
                            let opt of form_elem.selectValues;
                            let i = index
                          "
                          >{{ opt }}</option>
                        </select>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="text-right">
                  <button class='btn btn-warning' (click)="OnReset()">
                    Reset</button
                  >
                  <button class='btn btn-success' (click)="onSubmit()">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">Document View</h3>
            <p class="text-sm mb-0"></p>
          </div>
          <div class="card-body" style="padding:0">
            <div class="row">
              <div class="col-md-12">
                <ngx-extended-pdf-viewer  id="Viewer"
                [page] ="_PageNo"
                [useBrowserLocale]="true"
                [textLayer]="true"
                [showHandToolButton]="true"
                [height]="'90vh'"
  
                *ngIf="FilePath" [src]="FilePath"
                > by default, most CSS framework set the height to 0
  
                </ngx-extended-pdf-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->

<!-- for process body -->

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col">
      <div class=" card">
        <div class=" card-header">
          <h3 class=" mb-0">Territory Master</h3>
          <p class=" text-sm mb-0"></p>
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            
            <div class="col-sm-12 col-md-3">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="10" [selected]="entries == 10">10</option>
                    <option value="25" [selected]="entries == 25">25</option>
                    <option value="50" [selected]="entries == 50">50</option>
                    <option value="-1" [selected]="entries == -1">All</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <!-- <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label class="form-control-label text-right pr-4" for="CompanyID">
                  Company  
                </label>
                <select  name="CompanyID"  id="CompanyID"  class="form-control"  (change)="GetIndexListPending($event.target.value)"               
                >
                  <option value="0">Company</option>
                  <option value="1">UPL</option>
                  <option value="2">SWAL</option>
                  <option value="3">ARYSTA</option>
                  <option value="4">UPL SAS</option>                
                </select>
              </div>
            </div> -->

            <!-- <div class="col-sm-3 col-md-3">
              <div class="form-group">
                <label for="CompanyID">
                  Status  
                </label>
                <select  name="CompanyID"  id="CompanyID"  class="form-control companyid"  (change)="GetIndexListPending($event.target.value)"               
                >
                  <option value="0">Status</option>
                  <option value="1">Accept</option>
                  <option value="2">Reject</option>
                  <option value="3">Hold</option>
                                  
                </select>
              </div>
            </div> -->
            

            <div class="col-sm-3 col-md-3">
              <div id="datatable_filter" class="dataTables_filter v_search">
                <label>
                  <input
                    type="search"
                    class="form-control form-control-sm"
                    placeholder="Search records"
                    aria-controls="datatable"
                    (keyup)="filterTable($event)"
                  />
                </label>
              </div>
            </div>

           

        

          </div>

          <ngx-datatable
          *ngIf="_FilteredList"
            class="material"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="entries != -1 ? entries : undefined"
            [rows]="_FilteredList"
            (activate)="onActivate($event)" >

            <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="TerrName">
            
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.TerrName}}</ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="Territorycode">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.Territorycode}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="CompanyName">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.CompanyName}}</ng-template>
            </ngx-datatable-column>
            <!-- <ngx-datatable-column name="Division">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.DivisionName}}</ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="State">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.State}}</ng-template>
            </ngx-datatable-column>

            <!-- <ngx-datatable-column name="Location">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.Location}}</ng-template>
            </ngx-datatable-column> -->

            <ngx-datatable-column name="EmailID">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.TMEMAILID}}</ng-template>
            </ngx-datatable-column>

            
            <ngx-datatable-column name="Zone">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.Zone}}</ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="TMMOBILENO">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row.TMMOBILENO}}</ng-template>
            </ngx-datatable-column>
 
            <ngx-datatable-column name="Action" sortable="false" prop="id">
              <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                <!-- <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-danger btn-icon-only rounded-circle" (click)="AddIndexing(BranchFormPopup,row)">
                  <span class="btn-inner--icon"><i class="fa fa-check"></i></span>
                </button> -->

                <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-warning btn-icon-only rounded-circle" (click)="Editinward(InwardFormPopup,row)">
                  <span class="btn-inner--icon"><i class="fa fa-edit"></i></span>
                </button> 

                <button type="button" style="padding:0 0 5px 4px" class="btn btn-icon btn-danger btn-icon-only rounded-circle" (click)="deleteCode(row)">
                  <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                </button> 

          </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>




</div>


<ng-template #InwardFormPopup let-c="close" let-d="dismiss" let-modal>

  <div class="modal-content">
    <div class="modal-body p-0">

  <div >
    <form [formGroup]="InwardForm">
      <div class="row">    
          <div class="card w-70">
          
            <div  >
              <div class="position-relative row form-group">
  
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card-header">
                  <h3 class="mb-0">Territory Entry</h3>
                  <p class="text-sm mb-0"></p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
                    
                      <div class="card-body">
                        <div class="row">
                       
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                            <div class="row">     
                              
                              
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="Territorycode"> Territory code</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input  type="text" class="form-control" name="Territorycode" id="Territorycode"  formControlName="Territorycode"   (change)="ongetTerritorycode()" />                      
                                    
                                  </div>
                                </div>
                              </div>
                           
                              
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="CompanyID">
                                    Company  
                                  </label>
                                  <select
                                    name="CompanyID"
                                    id="CompanyID"
                                    class="form-control"
                                    formControlName="CompanyID"
                                    
                                  >
                                    <option value="0">Company</option>
                                    <option value="1">UPL</option>
                                    <option value="2">SWAL</option>
                                    <option value="3">ARYSTA</option>
                                    <option value="4">UPL SAS</option> 
                                    <option value="5">ADVANTA – AEL</option> 
                                 
                                  </select>
                                </div>
                              </div>
        
                     
                            

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="TerrName">Territory Name</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input  type="text" class="form-control" name="TerrName" id="TerrName"  formControlName="TerrName" />                      
                                    
                                  </div>
                                </div>
                              </div>
        
                            
                           

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="EmailID">EmailID</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input  type="text" class="form-control" name="EmailID" id="EmailID"  formControlName="EmailID" />                      
                                    
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="MobileNo">Mobile no</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input  size="10"  type="number" maxlength="10" class="form-control" name="MobileNo" id="MobileNo"  formControlName="MobileNo" />                      
                                    
                                  </div>
                                </div>
                              </div>

                              <!-- <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="Location"> Location</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input  type="text" class="form-control" name="Location" id="Location"  formControlName="Location" />                      
                                    
                                  </div>
                                </div>
                              </div> -->
 
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="Region">Region</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input    type="text" class="form-control" name="Region" id="Region"  formControlName="Region" />                      
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="Zone">Zone</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input    type="text" class="form-control" name="Zone" id="Zone"  formControlName="Zone" />                      
                                    
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="State">State</label>
                                  <div class="input-group input-group-merge serchInput">
                                      <input    type="text" class="form-control" name="State" id="State"  formControlName="State" />                      
                                    
                                  </div>
                                </div>
                              </div>
                         
                             
                         
                              <div class="col-md-6">
                                <div class="form-group">
                                  <label class="form-control-label" for="Division">
                                    Division 
                                  </label>
                                  <select   
                                    name="Division"
                                    id="Division"
                                    class="form-control"
                                    formControlName="Division"
                                  >
                                  <option value="0">Division</option>
                                  <option value="1">AF</option>
                                  <option value="2">FC</option>
                                  <option value="3">VC</option>
                                  <option value="4">Unimart</option> 
                                  <option value="5">Vector</option> 
                                  <option value="6">Decco</option> 
                                  </select>
                                </div>
                              </div>


                            </div>
                            
        
                            <!-- <div class="form-group">
                              <label class="form-control-label" for="DeptID">
                              Department :
                              </label>
                              <select
                                name="DeptID"
                                id="DeptID"
                                class="form-control"
                                formControlName="DeptID"
                              >
                                <option value="0">Select Department</option>
                                <option
                                  *ngFor="let _Department of _DepartmentList"
                                  [value]="_Department.id"
                                >
                                  {{ _Department.DepartmentName }}
                                </option>
                              </select>
                            </div> -->
        
        
        
        
                          </div> 
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="resetsave">
                              <div class="resetsavebts">
                            
                              <button class='btn btn-success' (click)="onSubmit()">
                                Save
                              </button>
                              <button class='btn btn-warning' (click)="hidepopup()">
                                Close</button
                              >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                  
                    
 
                  </div>
                </div>
                </div>
   
  
              </div>
            </div>
          
          
        </div>
      </div>
    </form>
  </div>
</div>
</div>
</ng-template>

 




