
<div class="DataEntryMainContainer">
  <div class="header bg-danger pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Inward</h6>

            <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
                </li>
Indexing
                <li class="breadcrumb-item">
                  <a href="javascript:void(0)"> Process </a>
                </li>

                <li aria-current="page" class="breadcrumb-item active">
                  Indexing
                </li>
              </ol>
            </nav> -->
          </div>

          <div class="col-lg-6 col-5 text-right">
            <!-- <a
              class="btn btn-sm btn-neutral"
              (click)="addDepartment(DepartmentFormPopup)"
            >
              Create New Department</a
            > -->
            <!-- <button
              class="btn btn-primary"
              (click)="backToPrevious()"
              type="button">Back</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="container-fluid mt--6">
  <form [formGroup]="DataUploadForm">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">Data Entry</h3>
            <p class="text-sm mb-0"></p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12" style="margin: 0 10px 0 0;">
                <div class="form-group">
                  <label class="form-control-label" for="TemplateID">
                    Select Template :
                  </label>
                  <select
                    name="TemplateID"
                    id="TemplateID"
                    class="form-control"
                    formControlName="TemplateID"
                    (change)="onChangeTemplate()"
                  >
                    <option value="0">Select Template Type</option>
                    <option
                      *ngFor="let TempL of _TemplateList"
                      [value]="TempL.id"
                    >
                      {{ TempL.TemplateName }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label" for="BranchID">
                    Select Branch :
                  </label>
                  <select
                    name="BranchID"
                    id="BranchID"
                    class="form-control"
                    formControlName="BranchID"
                  >
                    <option value="0">Select Branch</option>
                    <option
                      *ngFor="let _Branch of _BranchList"
                      [value]="_Branch.id"
                    >
                      {{ _Branch.BranchName }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label class="form-control-label" for="DeptID">
                    Select Department :
                  </label>
                  <select
                    name="DeptID"
                    id="DeptID"
                    class="form-control"
                    formControlName="DeptID"
                  >
                    <option value="0">Select Department</option>
                    <option
                      *ngFor="let _Department of _DepartmentList"
                      [value]="_Department.id"
                    >
                      {{ _Department.DepartmentName }}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label class="form-control-label" for="FileNo">
                    Search File :
                  </label>
                  <div class="input-group input-group-merge">
                    <input
                        type="text"
                        class="form-control"
                        name="FileNo"
                        id="FileNo"
                        placeholder="Search by File No"
                        formControlName="FileNo"
                        [readonly]="isReadonly"
                        aria-describedby="search-addon"
                      />
                    <div class="input-group-append" id="search-addon">
                        <button
                        class="btn btn-outline-primary"
                        (click)="GetNextFile()"
                        type="button"
                      >
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-12" formGroupName="_ColNameList">
                <div
                class="position-relative row form-group"
                *ngFor="let form_elem of _ColNameList; let i = index"
                >
                  <ng-container *ngIf="i > 1">
                    <ng-container [ngSwitch]="form_elem.FieldType">
                      <ng-container *ngSwitchCase="'1'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <input
                        [placeholder]="form_elem.DisplayName"
                        [name]="form_elem.DisplayName"
                        [formControlName]="form_elem.IndexField"
                        [id]="form_elem.IndexField"
                        type="text"
                        class="form-control"
                        minlength="{{ form_elem.MinLenght }}"
                        maxlength="{{ form_elem.MaxLenght }}"
                        />
                      </ng-container>
                      <ng-container *ngSwitchCase="'2'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <input
                        [placeholder]="form_elem.DisplayName"
                        [name]="form_elem.DisplayName"
                        [formControlName]="form_elem.IndexField"
                        [id]="form_elem.IndexField"
                        type="number"
                        class="form-control"
                        minlength="{{ form_elem.MinLenght }}"
                        maxlength="{{ form_elem.MaxLenght }}"
                        />
                      </ng-container>
                      <ng-container *ngSwitchCase="'3'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <input
                            [name]="form_elem.DisplayName"
                            [formControlName]="form_elem.IndexField"
                            [id]="form_elem.IndexField"
                            [placeholder]="form_elem.DisplayName"
                            class="form-control"
                            bsDatepicker
                            [bsValue]="bsValue"
                            [bsConfig]="{
                              isAnimated: true,
                              containerClass: 'theme-red'
                            }"
                          />
                      </ng-container>
                      <ng-container *ngSwitchCase="'4'">
                        <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                          {{ form_elem.DisplayName }}:
                        </label>
                        <select
                        [name]="form_elem.DisplayName"
                        [formControlName]="form_elem.IndexField"
                        [id]="form_elem.IndexField"
                        class="form-control"
                        >
                        <option [value]="0">Select A Value</option>
                        <option
                          [value]="opt"
                          *ngFor="
                            let opt of form_elem.selectValues;
                            let i = index
                          "
                          >{{ opt }}</option>
                        </select>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="text-right">
                  <button class='btn btn-warning' (click)="OnReset()">
                    Reset</button
                  >
                  <button class='btn btn-success' (click)="onSubmit()">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-0">Document View</h3>
            <p class="text-sm mb-0"></p>
          </div>
          <div class="card-body" style="padding:0">
            <div class="row">
              <div class="col-md-12">
                <ngx-extended-pdf-viewer  id="Viewer"
                [page] ="_PageNo"
                [useBrowserLocale]="true"
                [textLayer]="true"
                [showHandToolButton]="true"
                [height]="'90vh'"
  
                *ngIf="FilePath" [src]="FilePath"
                > by default, most CSS framework set the height to 0
  
                </ngx-extended-pdf-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div> -->

<!-- for process body -->


<div class="container-fluid mt--6">
  <form [formGroup]="InwardForm">
    <div class="row">    
        <div class="card">
        
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="position-relative row form-group">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingclass">
              <div class="card-header">
                <h3 class="mb-0">Data Inward</h3>
                <p class="text-sm mb-0"></p>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                    <div class="row">                                
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="CompanyID">
                            Company  
                          </label>
                          <select  name="CompanyID"  id="CompanyID"  class="form-control"
                            formControlName="CompanyID"     >
                            <option value="0">Company</option>
                            <option value="1">UPL</option>
                            <option value="2">SWAL</option>
                            <option value="3">ARYSTA</option>
                            <option value="4">UPL SAS</option> 
                            <option value="5">ADVANTA – AEL</option> 
                         
                          </select>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="PODNO">
                            POD No    
                          </label>
                          <div class="input-group input-group-merge serchInput">
                            <input  type="text"  class="form-control" name="PODNO"   formControlName="PODNO"      
                              />                      
                            
                          </div>
                        </div>
                      </div> 
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Courier"> Courier By </label>
                          <select name="Courier" id="Courier" class="form-control" formControlName="Courier" >
                          <option value="">Courier</option>
                          <option value="1">DTDC</option>
                          <option value="2">Blue Dart</option>
                          <option value="3">FedEx Express</option>
                          <option value="4">Professional Couriers</option>
                          <option value="5">Aramex India</option> 
                          <option value="6">Delhivery</option>
                          <option value="7">Ecom Express</option>                             
                          <option value="8">Gati</option>   
                          <option value="9">Safe Express</option>   
                          <option value="10">InExpress</option>   
                          <option value="11">Day express Courier and cargo Services</option>                            
                          <option value="12">Super Fast Llogistics</option>   
                          <option value="13">BLAZEFLASH COURIER</option>   
                          <option value="14">APEX INTERNATIONAL</option>   

                          <option value="15">BLUE EXPRESS COURIER</option>   
                          <option value="16">BOMBINO EXPRESS COURIER</option>   

                          <option value="17">DECAN DART EXPRESS</option>   
                          <option value="18">ELBEX COURIERS</option>   
                          <option value="19">FASTWAY EXPRESS</option>  
                          <option value="20">FIRST FLIGHT</option>   

                          <option value="21">FLYKING COURIER</option>  
                          <option value="22">FREIGHT NET PVT LTD</option>  
                          <option value="23">ICS INTERNATIONAL COURIER</option>   
                          <option value="24">INDIAN POSTAL SERVICE</option>   

                          <option value="25">KABLOOM COURIER</option>   
                          <option value="26">METRO MARUTI EXPRESS COURIER</option>  
                          
                          <option value="27">ON TIME COURIER</option>   
                          <option value="28">OVERNITE EXPRESS</option>  

                          <option value="29">RAJDHANI AIR EXPRESS</option>   
                          <option value="30">RED EXPRESS</option>  

                          <option value="31">RELIABLE LOGISTICS</option>   
                          <option value="32">ROYALE INTERNATIONAL</option>
                          
                          <option value="33">SM LOGISTICS</option>   
                          <option value="34">SAFELINE LOGISTICS</option>

                          <option value="35">SAFEXPRESS COURIER</option>   
                          <option value="36">SAR WORLDWIDE</option>

                          <option value="37">SHREE BALAJI COURIER</option>   
                          <option value="38">SHREE MARUTI COURIER</option>
                          <option value="39">SHREE TIRUPATI COURIER</option>   
                          <option value="40">SKYPACK COURIER</option>
                          <option value="41">SPEEDWAY CARGO</option>   
                          <option value="42">ST COURIER</option>
                          <option value="43">TARGET COURIERS</option>   
                          <option value="44">TCI XPS</option>
                          <option value="45">TNT EXPRESS</option>                          
                          <option value="46">UNIQUE EXPRESS</option>   
                          <option value="47">UNITED BUSINESS XPRESS (UBX)</option>
                          <option value="48">UNITED FREIGHT SERVICE</option>   
                          <option value="49">UNITED PARCEL SERVICE</option>
                          <option value="50">WORLDWIDE EXPRESS COURIERS</option>                           
                          <option value="13">Other</option>                            
                        
                          </select>
                        </div>
                      </div>
                      

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="CartonNo">
                            Carton No
    
                          </label>
                          <div class="input-group input-group-merge serchInput">
                            <input  type="text"  class="form-control" name="CartonNo"  formControlName="CartonNo"      
                              />                      
                            
                          </div>
                        </div>
                      </div>         

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="FileNo">
                            File No    
                          </label>
                          <div class="input-group input-group-merge serchInput">
                            <input  type="text"     class="form-control"  name="FileNo" id="FileNo"
                                 formControlName="FileNo"      
                              />                      
                            
                          </div>
                        </div>
                      </div>    

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="prospectNo">
                            prospect No
                          </label>
                          <div class="input-group input-group-merge serchInput">
                            <input type="text" class="form-control"  name="prospectNo"  formControlName="prospectNo"      
                              />                      
                            
                          </div>
                        </div>
                      </div>    
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="MobileNo">Mobile no</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  type="number" class="form-control" maxlength="10" name="MobileNo" id="MobileNo"  formControlName="MobileNo" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="EmailID">EmailID</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  type="text" class="form-control" name="EmailID" id="EmailID"  formControlName="EmailID" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="FULLFIRMNAME">Firm Name</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  type="text" class="form-control" name="FULLFIRMNAME" id="FULLFIRMNAME"  formControlName="FULLFIRMNAME" />                      
                            
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="SenderName">
                            Sender Name
                          </label>
                          <div class="input-group input-group-merge serchInput">
                            <input
                                type="text"
                                class="form-control"
                                name="SenderName"
                                id="SenderName"                           
                                formControlName="SenderName" 
                              />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Location"> Location</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  type="text" class="form-control" name="Location" id="Location"  formControlName="Location" />                      
                            
                          </div>
                        </div>
                      </div>

               

                    
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Territorycode"> Territory code</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  type="text" class="form-control"  placeholder="Search by Territory code" name="Territorycode" id="Territorycode"  formControlName="Territorycode"   (change)="ongetTerritorycode()" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="TerrName">Territory Name</label>
                          <div class="input-group input-group-merge serchInput">
                              <input readonly type="text" class="form-control" name="TerrName" id="TerrName"  formControlName="TerrName" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Region">Region</label>
                          <div class="input-group input-group-merge serchInput">
                              <input readonly  type="text" class="form-control" name="Region" id="Region"  formControlName="Region" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Zone">Zone</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  readonly type="text" class="form-control" name="Zone" id="Zone"  formControlName="Zone" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="State">State</label>
                          <div class="input-group input-group-merge serchInput">
                              <input  readonly type="text" class="form-control" name="State" id="State"  formControlName="State" />                      
                            
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="form-control-label" for="Division">
                            Division 
                          </label>
                          <select readonly
                            name="Division"
                            id="Division"
                            class="form-control"
                            formControlName="Division"
                          >
                          <option value="0">Division</option>
                          <option value="1">AF</option>
                          <option value="2">FC</option>
                          <option value="3">VC</option>
                          <option value="4">Unimart</option> 
                          <option value="5">Vector</option> 
                          <option value="6">Decco</option> 
                          </select>
                        </div>
                      </div>




                    </div>
                    

                    <!-- <div class="form-group">
                      <label class="form-control-label" for="DeptID">
                      Department :
                      </label>
                      <select
                        name="DeptID"
                        id="DeptID"
                        class="form-control"
                        formControlName="DeptID"
                      >
                        <option value="0">Select Department</option>
                        <option
                          *ngFor="let _Department of _DepartmentList"
                          [value]="_Department.id"
                        >
                          {{ _Department.DepartmentName }}
                        </option>
                      </select>
                    </div> -->




                  </div>
                
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="resetsave">
                      <div class="resetsavebts">
                    
                      <button class='btn btn-success' (click)="onSubmit()">
                        Save
                      </button>
                      <button class='btn btn-warning' (click)="OnResetPOD()">
                        Reset</button
                      >
                      <button class='btn btn-success' (click)="onPackPOD()">
                        Pack POD</button
                      >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
 
            </div>
          </div>
        
        
      </div>
    </div>
  </form>
</div>
 

<div class="dataTables_wrapper py-4">
  <div class="row">
 


  </div>

  <ngx-datatable
  *ngIf="_FilteredList"
    class="material"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="entries != -1 ? entries : undefined"
    [rows]="_FilteredList"
    (activate)="onActivate($event)" >

    <ngx-datatable-column name="SrNo">
      <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="File No">    
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.FileNo}}</ng-template>
    </ngx-datatable-column>
    
    <ngx-datatable-column name="PODNO">    
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.PODNO}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="CartonNo">    
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.CartonNo}}</ng-template>
    </ngx-datatable-column>
    

    <ngx-datatable-column name="FULLFIRMNAME">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.FULLFIRMNAME}}</ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="CompanyName">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.CompanyName}}</ng-template>
    </ngx-datatable-column>
    <!-- <ngx-datatable-column name="Division">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.DivisionName}}</ng-template>
    </ngx-datatable-column> -->
 
 

    <ngx-datatable-column name="Territorycode">
      <ng-template let-row="row" ngx-datatable-cell-template>{{row.Territorycode}}</ng-template>
    </ngx-datatable-column>


   
  </ngx-datatable>
</div>
</div>